body {
  background-color: #f1e5b8;
}
h1 {
  color: black;
  text-align: center;
}
footer {
  text-align: center;
}
footer a {
  margin: 0 10px;
  color: green;
}
p {
  text-align: center;
}
.croissant-photo {
  max-width: 80%;
  border-radius: 10px;
  display: block;
  margin: 30px auto;
}

